a {
    color: white;
}

/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobil Cihazlar İçin */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    
    .task-item {
        font-size: 1.2em;
    }
}

/* Tabletler ve Daha Büyük Ekranlar İçin */
@media (min-width: 601px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
    
    .task-item {
        font-size: 1em;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-item {
    color: #dc3545;
    cursor: pointer;
}

/* Tamamlanmış görevler için stil */
.completed {
    text-decoration: line-through;
    color: #d3d3d3;
}
